.progress-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15px 50px 0 50px;
}

.progress {
    width: 100%;
    max-width: 1000px;
    border: solid 1px white;
    border-radius: 8px;
    text-align: center;
}

.progress-text {
    position: absolute;
    font-size: 16px;
}
@media (min-width: 576px) {
    .progress-text {
        font-size: 24px;
    }
}
.progress-bar {
    border-radius: 8px;
    background-color: #4caf50;
    height: 20px;
}
@media (min-width: 576px) {
    .progress-bar {
        height: 30px;
    }
}